header {
    background-color: #545a7d;
    float: top;
    height: 150px;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}