.horse {
    box-shadow: rgba(44, 55, 77, 0.15) 0px 10px 30px;
    line-height: normal;
    height: 100%;
    border-width: initial;
    border-style: none;
    border-image: initial;
    border-radius: 5px;
    overflow: hidden;
}

.horse .card-body {
    text-transform: uppercase;
}

.horse .card-body div {
    font-style: italic;
    text-transform: none;
}

.horse h3 {
    color: #2f3b55;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.horse h4 {
    color: #eb7720;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.horse .no-gutters .col a {
    background: #2e374d;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.horse .no-gutters .col a:hover {
    background: #222939;
}

img {
    height: 300px;
    max-width: 100%;
}