<div class="card horse text-center" *ngIf="name">
    <img class="card-img-top img-fluid rounded-top" src={{srcimage}} alt="Photo du cheval">
    <div class="card-body">
        <h3>{{name}}</h3>
        <h4>{{pere}} X {{pereMere}}</h4>
        {{dateFormatted}} - {{race | uppercase}} - {{robe | uppercase}} - {{sexe | uppercase}}
        <div class="mt-2">
            {{prixMin | number}} à {{prixMax | number}} €
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <a href="/cheveaux/{{name.replace(' ', '_') | uppercase}}" [routerLink]="[name.replace(' ', '_') | uppercase]">Consulter la fiche</a>
        </div>
    </div>
</div>