/* #project-list {
    width: 100%;
    left: 0px;
    top: 154px;
    position: absolute;
    padding-bottom: 70px;
}

#project-list>h2 {
    position: absolute;
    left: 70px;
    top: 15px;
}

#center {
    position: absolute;
    top: 100px;
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    margin-left: 2px;
    margin-right: 2px;
}

article>div {
    position: absolute;
    margin-left: 170px;
}

.img-project {
    top: 7px;
    left: 7px;
    width: 135px;
    height: 135px;
    position: relative;
    z-index: 2;
}

#test {
    position: relative;
    min-height: 100%;
}

.metadonée {
    position: relative;
    left: 15px;
    bottom: 37px;
    display: flex;
    flex-direction: row;
    color: #747576;
    font-size: 15px;
}

.metadonée>.date {
    position: relative;
    margin-left: 80px;
}

.info>h3 {
    margin-top: 10px;
    font-size: 23px;
    color: black;
}

.info>p {
    position: relative;
    bottom: 63px;
    margin-left: 2px;
    color: #3e3f40;
    text-align: justify;
    word-wrap: break-word;
    width: 415px;
    height: 80px;
    overflow: hidden;
    font-size: 13px;
}

article>.link-to-project {
    position: relative;
    width: 600px;
    height: 150px;
    text-decoration: none;
}

article:hover {
    border-width: 3px;
    border-color: rgb(120, 117, 117);
    margin: 0px;
    margin-top: 18px;
    margin-bottom: 18px;
} */


/*! CSS Used from: https://www.haras-du-feuillard.com/theme/css/combined.min.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h3,
h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

h3,
h4 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col {
    padding-right: 0;
    padding-left: 0;
}

.col-12,
.col,
.col-md-6,
.col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width:992px) {
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.rounded-top {
    border-top-left-radius: 0.25rem!important;
    border-top-right-radius: 0.25rem!important;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.text-center {
    text-align: center!important;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    img {
        page-break-inside: avoid;
    }
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}


/*! CSS Used from: https://www.haras-du-feuillard.com/theme/css/screen.min.css */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #2e374d;
}

a:hover,
a:active {
    outline: none;
    color: #222939;
    text-decoration: none;
}

a:focus {
    outline: none 0;
}

h3 {
    color: #e8762d;
    font-weight: 600;
    font-size: 20px;
}

h4 {
    color: #2e374d;
    font-weight: 600;
    font-size: 19px;
}

.horse {
    border: none;
    box-shadow: 0 10px 30px rgba(44, 55, 77, 0.15);
    line-height: normal;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.horse .card-body {
    text-transform: uppercase;
}

.horse .card-body div {
    font-style: italic;
    text-transform: none;
}

.horse h3 {
    color: #2f3b55;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.horse h4 {
    color: #eb7720;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
}

.horse .no-gutters .col a {
    background: #2e374d;
    color: #fff;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.horse .no-gutters .col a:hover {
    background: #222939;
}