<!-- <div style="width: 200px;height: 200px;margin-top: 300px;">
    <img src="assets/img/logo.png" alt="">
</div> -->
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center test" style="margin-top: 250px;">
    <main id="main" role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>