h1,
h2 {
    font-family: 'Playfair Display', serif;
}

h1 {
    color: #23e06b;
}

.sous_titre {
    font-style: italic;
}

img {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.origines {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.encadreChevalFiche {
    border: 1px solid #e0dee7;
    margin: 30px 0;
}

.pedigree {
    background: #f6f5fb;
    border-left: 1px solid #e0dee7;
    border-right: 1px solid #e0dee7;
    border-bottom: 1px solid #e0dee7;
    margin: 30px 0;
}

.pere {
    color: #2e374d;
}