.encadreChevalFiche {
    border: 1px solid #e0dee7;
    margin: 30px 0;
}

.pedigree {
    background: #f6f5fb;
    border: 1px solid #e0dee7;
    margin: 30px 0;
}

.pere {
    color: #2e374d;
}

.carroussel {
    border: 1px solid #e0dee7;
    margin: 30px 0;
    background: #f6f5fb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.spyscroll {
    position: fixed;
    margin: 5% auto;
    left: 20px;
}

.spyscroll a {
    cursor: pointer;
}