<div id="test">
    <div id="project-list">

        <div class="container">
            <h1>Liste des Projets</h1>
            <div class="card-deck">
                <app-cheval @myInsertTrigger class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let projet of projet; let i = index" [title]="projet.name" [language]="projet.language" [link]="projet.html_url" [srcimage]="projet.srcimage" [description]="projet.description"
                    [date]="projet.updated_at"></app-cheval>
            </div>
            <!-- <h2>Liste des Projets</h2>
                <app-cheval @myInsertTrigger *ngFor="let projet of projet; let i = index" [title]="projet.name" [language]="projet.language" [link]="projet.html_url" [srcimage]="projet.srcimage" [description]="projet.description" [date]="projet.updated_at"></app-cheval>
            <div id="search_group">
                <input #search type="text" id="search" name="search" size="30" placeholder="Search a project" (keyup.enter)="onEnter(search)" (keyup)="onKey($event)" />
            </div> -->
        </div>

    </div>
</div>