<div class="h-100 row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2" [style.color]="actuality.type.color">{{actuality.type.name}}</strong>
        <h3 class="mb-0">{{actuality.title}}</h3>
        <div class="mb-1 text-muted">{{actuality.date}}</div>
        <p class="card-text">{{actuality.text}}</p>
        <!-- <a href="#" class="stretched-link">Continue reading</a> -->
    </div>
</div>