.encadre {
    border: 1px solid #e0dee7;
    margin: 30px 0;
}

h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-weight: bolder;
}

h3 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
}

@media print {
    *,
     ::after,
     ::before {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}

h3 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}