<div style="width: 100%;" class="row justify-content-center">
    <div class="col-12 col-md-10 pt-2 pt-md-3 pb-2 pb-md-3">
        <div class="row">
            <div class="col-12 col-md-10">
                <div class="card w-100">
                    <div class="row card-body w-100">
                        <img class="col-sm-6" src="{{profil.imageProfil}}" alt="sans" />
                        <div class="col-sm-6">
                            <h1 class="card-title">DAB</h1>
                            <dl class="row">
                                <dt class="col-sm-5 text-muted">{{"HORSES.HORSE_PROFIL.BIRTH" | translate}}: </dt>
                                <dd class="col-sm-4">{{dateFormatted}}</dd>
                                <dt class="col-sm-5 text-muted">{{"HORSES.HORSE_PROFIL.SEX" | translate}}: </dt>
                                <dd class="col-sm-3">{{profil.sexe | uppercase}}</dd>
                                <dt class="col-sm-5 text-muted">{{"HORSES.HORSE_PROFIL.RACE" | translate}}: </dt>
                                <dd class="col-sm-3">{{profil.race | uppercase}}</dd>
                                <dt class="col-sm-5 text-muted">{{"HORSES.HORSE_PROFIL.COLOR" | translate}}: </dt>
                                <dd class="col-sm-3">{{profil.robe | uppercase}}</dd>
                            </dl>
                            <!-- <h2 class="card-text">Naissance: {{profil.naissance | uppercase}}</h2>
                            <h2 class="card-text">Sexe: {{profil.sexe | uppercase}}</h2>
                            <h2 class="card-text">Race: {{profil.race | uppercase}}</h2>
                            <h2 class="card-text">Robe: {{profil.robe | uppercase}}</h2> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="photo_profil">
            <img src="{{profil.imageProfil}}" alt="Photo du cheval">
        </div>
        <div class="info">
            <h1>DAB</h1>
            <h2></h2>
        </div> -->
        </div>
    </div>