h1 {
    box-sizing: border-box;
    color: #23e06b;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 1.2;
}

dd {
    font-size: 1.2rem;
}

.photo_profil {
    display: inline-block;
}

.info {
    display: inline-block;
    vertical-align: top;
}

.card {
    border: none;
}

.video {
    width: 750;
}

@media (max-width:1199px) {
    .video {
        width: 650;
    }
}