img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    text-decoration: none;
}

.round {
    border-radius: 50%;
    background-color: #dddada;
    color: black;
    font-size: 22px;
}

.container-image {
    background-color: #f6f5fb;
    display: flex;
}

@media (max-width:425px) {
    .carousel-caption h3 {
        color: black;
    }
}

.video {
    width: 800px!important;
}

@media (max-width:1200px) {
    .video {
        width: 650px!important;
    }
}

@media (max-width:320px) {
    .video {
        margin-top: 50px;
        width: 200px!important;
        height: 200px!important;
    }
    .container-perso {
        height: 300px!important;
    }
}