@font-face {
    font-family: 'Source code pro';
    src: url('assets/font/SourceCodePro-Regular.ttf')
}

* {
    font-family: 'Source code pro', Calibri, serif;
    margin: Opx;
    padding: 0px;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}