table {
    width: 100%;
}

table {
    margin: 0;
}

table td {
    border-bottom: 1px solid #e0dee7;
    padding: 8px 0;
}

table {
    margin-top: 0;
}

table td.nob {
    border-bottom: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width:767px) {
    #pedigree {
        margin: 0 -10px;
        padding: 5px!important;
        overflow: hidden;
    }
    #pedigree td {
        padding: 3px 0;
    }
    #pedigree table td {
        padding: 3px 0;
        font-size: 13px;
    }
}