<div style="width: 100%;" class="row justify-content-center">
    <div class="col-12 col-md-10 pt-3 pb-3">
        <table class="genealogie">
            <tbody>
                <tr>
                    <td class="p_male pere gen1" rowspan="4">
                        <span>{{genealogie.Pere.name | uppercase}}, {{genealogie.Pere.race | uppercase}}</span>
                    </td>
                    <td class="gen2 p_male pere" rowspan="2">
                        <span>{{genealogie.PerePere.name | uppercase}}, {{genealogie.PerePere.race | uppercase}}</span>
                    </td>
                    <td class="gen3 p_male pere" rowspan="1">
                        <span>{{genealogie.PerePerePere.name | uppercase}}, {{genealogie.PerePerePere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle" rowspan="1">
                        <span>{{genealogie.PerePereMere.name | uppercase}}, {{genealogie.PerePereMere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle" rowspan="2">
                        <span>{{genealogie.PereMere.name | uppercase}}, {{genealogie.PereMere.race | uppercase}}</span>
                    </td>
                    <td class="p_male " rowspan="1">
                        <span>{{genealogie.PereMerePere.name | uppercase}}, {{genealogie.PereMerePere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle" rowspan="1">
                        <span>{{genealogie.PereMereMere.name | uppercase}}, {{genealogie.PereMereMere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle nob" rowspan="4">
                        <span>{{genealogie.Mere.name | uppercase}}, {{genealogie.Mere.race | uppercase}}</span>
                    </td>
                    <td class="p_male perem pere" rowspan="2">
                        <span>{{genealogie.MerePere.name | uppercase}}, {{genealogie.MerePere.race | uppercase}}</span>
                    </td>
                    <td class="p_male pere" rowspan="1">
                        <span>{{genealogie.MerePerePere.name | uppercase}}, {{genealogie.MerePerePere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle" rowspan="1">
                        <span>{{genealogie.MerePereMere.name | uppercase}}, {{genealogie.MerePereMere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle nob" rowspan="2">
                        <span>{{genealogie.MereMere.name | uppercase}}, {{genealogie.MereMere.race | uppercase}}</span>
                    </td>
                    <td class="p_male" rowspan="1">
                        <span>{{genealogie.MereMerePere.name | uppercase}}, {{genealogie.MereMerePere.race | uppercase}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="p_femelle nob" rowspan="1">
                        <span>{{genealogie.MereMereMere.name | uppercase}}, {{genealogie.MereMereMere.race | uppercase}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>