<nav>
    <ul class="menu-nav" *ngIf="mobile === false">
        <li class="accueil">
            <a routerLink="accueil" [ngClass]="{activeacceuil: toActive === 0}">Accueil</a>
        </li>
        <li class="actualité">
            <a routerLink="actualité" [ngClass]="{activeacceuil: toActive === 1}">Actualité</a>
        </li>
        <li class="menu-cheveaux">
            <a routerLink="cheveaux" [ngClass]="{activecheveaux: toActive === 2}">Chevaux</a>
        </li>
        <li class="menu-me">
            <a routerLink="info" [ngClass]="{activemenu: toActive === 3}">L'élevage</a>
        </li>
        <li class="contact">
            <a routerLink="contact" [ngClass]="{activecontact: toActive === 4}">Contact</a>
        </li>
    </ul>
    <div class="row w-100" style="margin-top: 50px;" *ngIf="mobile === true">
        <div class="col">
            <div class="d-inline-block">
                <button class="navbar-toggler collapsed" (click)="activeToogle()" type="button">Menu</button>
            </div>
        </div>
    </div>
    <div class="list-group" style="margin-top: 5px;" *ngIf="toogle === true">
        <a routerLink="accueil" [ngClass]="{activeacceuil: toActive === 0}">Accueil</a>
        <a routerLink="actualité" [ngClass]="{activeacceuil: toActive === 1}">Actualité</a>
        <a routerLink="cheveaux" [ngClass]="{activecheveaux: toActive === 2}">Chevaux</a>
        <a routerLink="info" [ngClass]="{activemenu: toActive === 3}">L'élevage</a>
        <a routerLink="contact" [ngClass]="{activecontact: toActive === 4}">Contact</a>
    </div>
</nav>